*, *::after, *::after {
    box-sizing: border-box;
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(87, 87, 255), rgb(139, 255, 139));
    
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(4, 100px);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.display {
    grid-column: 1/-2;
    background-color: rgba(0,0,0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    color: white;
    
}

.top {
    display: flex;
}